---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Drawing Club</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Signika Negative", sans-serif;
        background-color: #fff;
      }
      main {
        max-width: 700px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding: 2rem;
      }
      @media screen and (min-width: 768px) {
        main {
          margin: 0 auto;
        }
      }
      h1 {
        font-size: 3rem;
        line-height: 0;
        color: #333;
      }
      .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        /* TEMPORARY */
        margin-left: -3.5rem;
      }

      .gallery img {
        max-height: 16rem;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Drawing Club</h1>
      <div class="gallery">
        <img src="/images/paintbrush.png" alt="paintbrush" />
        <img src="/images/leaf.png" alt="leaf" />
        <img src="/images/dont-destroy-trees.png" alt="no cutting down trees" />
      </div>
    </main>
  </body>
</html>
